<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.google.vision">

    <uses-sdk tools:overrideLibrary="com.shashank.sony.fancygifdialoglib,com.highsoft.highcharts" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- <uses-permission android:name="android.permission.SEND_SMS" /> -->
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".app.OfflineCapability"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".activities.AboutUs" />
        <activity android:name=".activities.EnquiryStudentList" />
        <activity android:name=".activities.EnquiryStudents" />
        <activity
            android:name=".activities.InstituteTeachers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.NewClassTeacher"
            android:screenOrientation="portrait" />
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
        See README(https://goo.gl/l4GJaQ) for more.
        -->
        <activity
            android:name=".activities.FeedbackStudents"
            android:screenOrientation="portrait" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <activity
            android:name=".activities.PaymentAdmin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EnquiryAdmin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FeedbackAdmin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Performance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EditMarks"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activities.SingleExamStudent"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activities.ExamStudent"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activities.SingleExamAdmin"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activities.AddMarks"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activities.InstituteOthers"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="intent.instituteothers.notification" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".authentication.Login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".authentication.ChangePassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".authentication.ReAuthentication"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AnnouncementAdmin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UserAttendance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ViewSingleAnnouncement"
            android:screenOrientation="portrait" />
        <activity
            android:name=".authentication.CreateAccount"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EditProfile"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.NewClass"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TakeAttendance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activities.UpdateAttendance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activities.AnnouncementStudents"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="intent.announcementstudents.notification" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AddStudents"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4" />
        <activity
            android:name=".activities.FullScreenImage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MakeAnnouncement"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EditAnnouncement"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RemoveStudents"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme5" />
        <activity
            android:name=".activities.MainActivityTeacher"
            android:screenOrientation="portrait" />
        <activity
            android:name=".authentication.CreateAccountTeacher"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DeleteAccount"
            android:screenOrientation="portrait" />
        <activity
            android:name=".authentication.ForgotPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MainActivityStudent"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SettingsAdmin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ExamsAdmin"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activities.InstituteAdmin"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.google.vision.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name=".others.FirebaseMessagingServices">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>