<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ashish.startup">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.ashish.startup.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Activities.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Others.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".Others.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <!-- [START fcm_default_icon] -->
        <!--
             Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_ic_notification" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <!-- [END fcm_default_channel] -->

        <activity
            android:name=".Activities.Welcome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Authentication.Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activities.AboutUsActivity" />
        <activity android:name=".Activities.PrivacyPolicyActivity" />
        <activity
            android:name=".Authentication.ChangePassword"
            android:screenOrientation="portrait" />
        <activity android:name=".Authentication.ReAuthentication" />
        <activity android:name=".Activities.nonadmin" />
        <activity android:name=".Activities.UserNewClass"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.UserAttendance"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Activities.UserMarks"></activity>
        <activity android:name=".Activities.CreateNewTest"></activity>
        <activity android:name=".Activities.GetMarks" />
        <activity android:name=".Authentication.CreateAccount" />
        <activity
            android:name=".Activities.EditProfile"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".Activities.NewClass" />
        <activity android:name=".Activities.NewClass2"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.AddStudents">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.TakeAttendance" />
        <activity android:name=".Activities.ViewAttendance" />
        <activity android:name=".Activities.UpdateAttendance" />
        <activity android:name=".Activities.UploadMarks"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>