<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ashish.startup">

    <uses-sdk tools:overrideLibrary="com.shashank.sony.fancygifdialoglib,com.highsoft.highcharts" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:name=".app.OfflineCapability"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <!--<service android:name=".others.FirebaseMessagingServices">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>-->

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
        See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity android:name=".activities.PaymentAdmin"/>
        <activity android:name=".activities.EnquiryAdmin" />
        <activity android:name=".activities.FeedbackAdmin" />
        <activity android:name=".activities.Performance" />
        <activity
            android:name=".activities.EditMarks"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activities.SingleExamStudent"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activities.ExamStudent"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activities.SingleExamAdmin"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activities.AddMarks"
            android:theme="@style/AppTheme2" />
        <activity android:name=".activities.InstituteOthers">
            <intent-filter>
                <action android:name="intent.instituteothers.notification"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.ashish.startup.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".authentication.Login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Welcome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.AboutUsActivity" />
        <activity android:name=".activities.PrivacyPolicyActivity" />
        <activity
            android:name=".authentication.ChangePassword"
            android:screenOrientation="portrait" />
        <activity android:name=".authentication.ReAuthentication" />
        <activity
            android:name=".activities.AnnouncementAdmin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UserAttendance"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.ViewSingleAnnouncement" />
        <activity android:name=".authentication.CreateAccount" />
        <activity
            android:name=".activities.UpdateAttendanceNew"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activities.EditProfile"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".activities.NewClass" />
        <activity
            android:name=".activities.TakeAttendance"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activities.ViewAttendance"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activities.UpdateAttendance"
            android:theme="@style/AppTheme3" />
        <activity android:name=".activities.AnnouncementStudents">
            <intent-filter>
                <action android:name="intent.announcementstudents.notification"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AddStudents"
            android:theme="@style/AppTheme4" />
        <activity android:name=".activities.FullScreenImage" />
        <activity android:name=".activities.MakeAnnouncement" />
        <activity android:name=".activities.EditAnnouncement" />
        <activity
            android:name=".activities.RemoveStudents"
            android:theme="@style/AppTheme5" />
        <activity android:name=".activities.MainActivityTeacher" />
        <activity android:name=".authentication.CreateAccountTeacher" />
        <activity android:name=".activities.DeleteAccount" />
        <activity android:name=".authentication.ForgotPassword" />
        <activity android:name=".activities.MainActivityStudent" />
        <activity android:name=".activities.SettingsAdmin" />
        <activity
            android:name=".activities.ExamsAdmin"
            android:theme="@style/AppTheme2" />
        <activity android:name=".activities.InstituteAdmin" />
    </application>

</manifest>